/* DO NOT TOUCH */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,300;9..40,500;9..40,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-variant: small-caps;
  font-family: 'DM Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html{
  scroll-behavior: smooth;
}

/* DO NOT TOUCH */

body{
  min-height: 100dvh;
  background-color: rgba(0, 0, 0, 1);
  font-size: 2.5dvh;
  opacity: 0;
  transition: background-color 1s, opacity 1s;
}

nav{
  user-select: none;
  display: flex;
  position: relative;
  top: 0dvh;
  width: 95dvw;
  text-shadow: 0 0 10px rgba(242, 187, 5, 1);
}

  nav ul{
    list-style: none;
    margin-bottom: 0;
  }

  nav ul li{
    display: inline-block;
  }

main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  box-shadow: inset 0 0 25rem rgb(0, 0, 0, 1);
  backdrop-filter: blur(0.1rem);
  width: 95dvw;
  height: 80dvh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}

h1, h2, p{
  margin-bottom: 0rem;
}

p{
  color: rgba(242, 187, 5, 1);
}

  /* HIDDEN TITLE */

  .hiddenheader{
    display: none;
  }

a{
  text-decoration: none;
  color: rgba(242, 187, 5, 1);
  transition: 0.3s;
}

a:hover{
  color: rgba(255, 255, 255, 1);
  transition: 0.3s;
}

a:active{
  color: rgba(242, 187, 5, 1);
  transition: 0.3s;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  text-align: center;
  background-image: url("../media/images/main/footer.png");
  background-position: center;
  background-size: cover;
  text-wrap: nowrap;
  width: 100%;
  padding: 2.5dvh;
  margin-top: 2.5dvh;
  color: rgba(242, 187, 5, 1);
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
  overflow: hidden;
}

/* ************** */
/* CUSTOM STYLES: */
/* ************** */

.background-video{
  user-select: none;
  pointer-events: none;
  object-fit: cover;
  position: fixed;
  width: 100%;
  min-height: 100dvh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  }

/* NAVIGATION: */

.navigation{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 1 | TOP-MENU: */

.top-menu{
  width: 100%;
  position: relative;
  justify-content: space-evenly;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 1);
  margin-bottom: 5dvh;
  padding: 2dvh;
}

  .top-menu ul{
    padding: 0;
  }

  .top-menu ul li{
    padding-inline: 5dvh;
  }

/* 2 | MAIN-MENU: */

.main-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("../media/images/main/menu-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0rem 0rem 1rem rgba(0, 0, 0, 1);
  height: 5dvh;
  margin-bottom: 1px;
  text-wrap: nowrap;
  overflow: hidden;
}

/* 2.1 | MAIN-MENU: */

#dropdown-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  position: absolute;
  width: 95dvw;
  height: 20dvh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2rem);
  z-index: 1;
  padding: 0;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

  .column-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

#dropdown-menu.active {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  visibility: visible;
  opacity: 1;
}

  #dropdown-menu li{
    padding-inline: 2.5dvh;
  }

  #dropdown-menu a {
    font-size: 3dvh;
    color: rgba(242, 187, 5, 1);
  }

  #dropdown-menu a:hover {
    color: rgba(255, 255, 255, 1);
  }

/* 2.1 | MAIN-MENU - LEFT - ICON: */

#menu-icon {
  width: 2.5dvh;
  min-width: 2.5dvh;
  cursor: pointer;
  box-shadow: inset 0rem 0rem 2.5rem rgba(242, 187, 5, 1);
  transition: 0.3s ease-in-out;
}

  #menu-icon:hover {
    background-color: rgba(242, 187, 5, 1);
  }

/* 2.2 | MAIN-MENU - RIGHT: */

.main-menu-login {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 2dvh;
}

  .main-menu-login ul {
    padding: 0;
    margin: 0;
  }

  .main-menu-login li {
    padding-right: 2.5dvh;
  }

/* : */

.team-8 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 1);
  flex: 1;
}

.team-8-member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 5dvh;
  text-align: center;
  background-size: cover;
  background-position: center center;
  flex: 1;
}

  .team-8-member p {
    color: rgba(242, 187, 5, 1);
    text-shadow: 0 0 1rem rgba(242, 187, 5, 1);
  }

@media (max-width: 512px) {
  .team-8-member p {
    display: none;
  }
}

/* CUSTOM SCROLLBAR: */
::-webkit-scrollbar {
  width: 0.1rem;
}
/* BACKGROUND: */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 1)
}
/* BAR: */
::-webkit-scrollbar-thumb {
  background-image: radial-gradient(rgba(242, 187, 5, 0.8), rgba(0, 0, 0, 1));
}
/* BAR @ HOVER: */
::-webkit-scrollbar-thumb:hover {
  background-image: radial-gradient(rgba(242, 187, 5, 1), rgba(0, 0, 0, 1));
}
